@use "../abstracts/variables";

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Products List pages.
// -----------------------------------------------------------------------------
.list {
    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: variables.$grid-gap-m;
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        max-width: variables.$container-width-xl;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__aside {
        grid-column-end: span 3;
    }

    &__panel {
        background-color: variables.$color-background-light;
        top: -100vh;
        height: 100vh;
        left: 0;
        padding: variables.$padding-xl;
        position: absolute;
        transition: top variables.$animation-speed-regular variables.$animation-type-regular;
        width: 100%;
        will-change: top;

        @media (min-width: variables.$mq-m) {
            top: auto;
            padding: 0;
            position: relative;
        }

        &.is-opened {
            top: 0;
            padding: variables.$padding-xl;
            z-index: variables.$z-index-l;
        }

        .btn--primary {
            bottom: variables.$space-l;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @media (min-width: variables.$mq-m) {
                display: none;
            }
        }
    }

    .btn__reset {
        border: 0;
        background-color: transparent;
    }

    @media (min-width: variables.$mq-m) {
        .btn--float {
            display: none;
        }
    }

    .list-grid {
        display: grid;
        grid-column-gap: variables.$grid-gap-m;
        grid-template-columns: repeat(12, 1fr);
        grid-column-end: span 12;

        @media (min-width: variables.$mq-m) {
            grid-column-end: span 9;
            grid-row-gap: 5rem;
        }

        .card__item {
            grid-column: span 12;

            @media (min-width: 30rem) {
                grid-column: span 6;
            }

            @media (min-width: 68.75rem) {
                grid-column: span 4;
            }
        }

        .card__photo {
            height: 12rem;
            margin-top: -2.125rem;
            width: 12rem;

            @media (min-width: 34.25em) {
                height: 14rem;
                width: 14rem;
            }
        }

        .btn {
            box-shadow: variables.$box-shadow-l;
            margin-bottom: -(variables.$margin-m);
            margin-left: auto;
            margin-right: auto;
        }
    }
}
