@use "../abstracts/mixins/font-placeholders";
@use "../abstracts/variables";

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Coupons page.
// -----------------------------------------------------------------------------
.mycoupons {
    color: variables.$color-text-primary;
    padding-left: variables.$padding-m;
    padding-right: variables.$padding-m;

    &__container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: variables.$grid-max-width-s;

        @media (min-width: variables.$mq-m) {
            max-width: variables.$grid-max-width-m;
        }

        @media (min-width: variables.$mq-l) {
            max-width: variables.$grid-max-width-l;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 16rem);
        grid-auto-rows: 16rem;
        grid-column-gap: variables.$grid-gap-m;
        grid-row-gap: variables.$grid-gap-l;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: variables.$grid-max-width-s;

        @media (min-width: variables.$mq-m) {
            grid-template-columns: repeat(8, 1fr);
            margin-bottom: 2.5rem;
            max-width: variables.$grid-max-width-m;
        }

        @media (min-width: variables.$mq-l) {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, 16rem);
            margin-bottom: 3.5rem;
            max-width: variables.$grid-max-width-l;
        }
    }

    &__title,
    &__subtitle {
        color: inherit;
    }

    &__title {
        @include font-placeholders.text-xl();
        margin-bottom: variables.$margin-m;
        margin-top: 3.5rem;
    }

    &__subtitle {
        margin-bottom: variables.$margin-l;
    }

    &__disclaimer {
        align-items: center;
        background-color: variables.$color-background-primary;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 16rem;
        justify-content: center;
        margin-bottom: variables.$margin-xl;
        margin-left: auto;
        margin-right: auto;
        padding: variables.$space-m;
        width: 100%;

        @media (min-width: variables.$mq-m) {
            max-width: variables.$grid-max-width-m;
        }

        @media (min-width: variables.$mq-l) {
            max-width: variables.$grid-max-width-l;
        }

        &-content {
            align-items: center;
            background-color: variables.$color-background-light;
            display: flex;
            justify-content: center;
            height: 5rem;
            padding-left: variables.$padding-m;
            padding-right: variables.$padding-m;
            width: 44.5rem;
        }

        &-price {
            @include font-placeholders.text-xxl();
            color: inherit;
            margin-bottom: 0;
            margin-right: variables.$margin-m;
            margin-top: 0;
        }

        &-description {
            @include font-placeholders.text-m();
            color: inherit;
            font-weight: variables.$font-weight-medium;
            line-height: 1.2;
            margin: 0;
        }
    }

    &-empty {
        text-align: center;
        border-bottom: 2px solid variables.$color-border;
        padding: variables.$padding-l;
        margin-bottom: variables.$margin-l;
        font-weight: variables.$font-weight-medium;
        font-size: variables.$font-big
    }
}
