@use "../abstracts/mixins/font-placeholders";
@use "../abstracts/variables";

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.foo {
    background-color: variables.$color-background-medium;
    display: flex;
    flex-wrap: wrap;
    padding: variables.$padding-l;

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @media (min-width: variables.$mq-s) {
            width: variables.$grid-max-width-s;
        }

        @media (min-width: variables.$mq-m) {
            width: variables.$grid-max-width-m;
        }

        @media (min-width: variables.$mq-l) {
            width: variables.$grid-max-width-l;
        }

        @media (min-width: variables.$mq-xl) {
            width: variables.$grid-max-width-xl;
        }
    }

    &__disclaimer {
        margin-top: variables.$margin-s;
    }

    &-text {
        @include font-placeholders.text-xs();
        color: variables.$color-text-primary;
        margin-top: variables.$margin-m;
        text-align: center;
        margin-bottom: 0;
    }

    svg {
        fill: variables.$color-primary;
        display: block;
        margin-bottom: variables.$margin-m;
    }

    &__links {
        margin-top: variables.$margin-m;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        @media (min-width: variables.$mq-m) {
            margin-top: variables.$margin-s;
            flex-direction: row;
        }
    }

    &__link {
        @include font-placeholders.text-s();
        color: variables.$color-text-primary;
        font-weight: variables.$font-weight-medium;
        white-space: nowrap;

        &:not(:last-of-type) {
            @media (min-width: variables.$mq-m) {
                margin-right: variables.$margin-l;
            }
        }
    }
}
