@use "../abstracts/mixins/font-placeholders";
@use "../abstracts/variables";

// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component of the site/application.
// -----------------------------------------------------------------------------
.hero {
    position: relative;

    svg {
        fill: variables.$color-svg-tertiary;
    }

    &__banner {
        align-items: center;
        background-color: variables.$color-background-primary;
        box-shadow: variables.$box-shadow-m;
        color: variables.$color-text-tertiary;
        display: flex;
        height: 3rem;
        justify-content: center;
        left: 50%;
        margin-top: -(variables.$margin-s);
        position: absolute;
        top: -(variables.$margin-s);
        transform: translateX(-50%) translateZ(0);
        width: 100%;
        z-index: variables.$z-index-s;

        @media (min-width: variables.$mq-s) {
            width: 22.5rem;
        }

        @media (min-width: variables.$mq-m) {
            height: 4rem;
            width: 63.5rem;
        }

        @media (min-width: variables.$mq-m) {
            width: 94%;
        }

        @media (min-width: variables.$mq-l) {
            width: 80%;
        }
    }

    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 16rem;

        @media (min-width: variables.$mq-s) {
            width: 17.8125rem;
        }

        @media (min-width: variables.$mq-m) {
            width: 18rem;
        }

        @media (min-width: variables.$mq-l) {
            width: 22rem;
        }

        & svg:nth-child(1) {
            display: none;

            @media (min-width: 23.625em) {
                display: block;
            }
        }
    }

    &__text {
        white-space: nowrap;

        &--strong {
            @include font-placeholders.text-s();
            font-weight: variables.$font-weight-medium;
        }

        &--light {
            @include font-placeholders.text-xs();
            font-weight: variables.$font-weight-light;
        }
    }
    &__image-wrapper {
        background-color: variables.$color-background-primary;
    }

    &__image {
        height: 20rem;
        background-size: cover;
        opacity: 0;
        transition: opacity variables.$animation-speed-regular variables.$animation-type-regular;

        @media (min-width: variables.$mq-m) {
            height: 38.5rem;
        }
    }

    .u-fade-in {
        opacity: 1;
    }
}
