@use "sass:color";
@use "../abstracts/mixins/font-placeholders";
@use "../abstracts/variables";

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component of the site/application.
// -----------------------------------------------------------------------------
.btn {
    align-items: center;
    border: none;
    border-radius: variables.$padding-m * 2;
    display: flex;
    font-weight: variables.$font-weight-medium;
    justify-content: center;
    max-height: 4rem;
    max-width: 18.5rem;
    padding: variables.$padding-m;
    text-align: center;
    text-decoration: none;
    transition: background-color variables.$animation-speed-fast variables.$animation-type-regular, color variables.$animation-speed-fast variables.$animation-type-regular;
    white-space: nowrap;

    @include font-placeholders.text-s();

    &--primary {
        background-color: variables.$color-background-accent-tertiary;
        color: variables.$color-text-light;
        text-transform: uppercase;

        &:hover {
            background-color: variables.$color-background-accent-tertiary-hover;
        }
    }

    &--secondary {
        background-color: variables.$color-background-light;
        box-shadow: variables.$box-shadow-s;
        color: variables.$color-text-primary;

        &:hover {
            color: variables.$color-text-tertiary;
        }

        &:hover svg {
            fill: variables.$color-svg-tertiary;
        }

        &:active {
            box-shadow: variables.$box-shadow-xs;
            color: variables.$color-text-secondary;
        }

        > svg {
            margin-right: variables.$margin-s;
            fill: variables.$color-svg-primary;
        }
    }

    &--getapp {
        display: block;
        background-color: variables.$color-background-light;
        box-shadow: variables.$box-shadow-s;
        color: variables.$color-text-primary;
        padding: 0.5rem;
        width: 150px;
        line-height: 100%;

        @media (min-width: variables.$mq-m) {
            width: 170px;
        }

        @media (min-width: variables.$mq-l) {
            width: 192px;
        }

        &--left {
            float: left;
        }

        &--right {
            float: right;
        }
    }

    &--microsoft {
        background-color: variables.$color-background-microsoft;
        color: variables.$color-text-light;

        &:hover {
            background-color: color.adjust(variables.$color-background-microsoft, $lightness: -10%);
        }
    }

    &--float {
        bottom: variables.$space-l;
        left: 50%;
        position: fixed;
        transform: translateX(-50%) translateZ(0);
        will-change: transform;
        z-index: variables.$z-index-s;
    }

    &.is-disabled {
        background-color: variables.$color-background-medium;
        box-shadow: initial;
        color: variables.$color-grey-dark;
    }
}
