@use "../abstracts/mixins/font-placeholders";
@use "../abstracts/variables";

// -----------------------------------------------------------------------------
// This file contains all styles related to the coupon component of the site/application.
// -----------------------------------------------------------------------------
.coupon {
    box-shadow: variables.$box-shadow-l;
    color: variables.$color-text-primary;
    display: grid;
    grid-column: span 4;
    grid-column-gap: variables.$grid-gap-m;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;

    @media (min-width: variables.$mq-l) {
        grid-column: span 6;
    }

    &__img-wrapper {
        grid-column: span 2;
        position: relative;
        height: 100%;
        margin-top: -1px;
        overflow: hidden;

        &:after {
            content: url("./assets/images/icon-rim.svg");
            height: 16rem;
            position: absolute;
            right: -2.6rem;
            top: 0;
            width: 3.25rem;
        }
    }

    &__img {
        background-color: variables.$color-background-accent-tertiary;
        background-position: center;
        grid-column: span 2;
        height: 100%;
        background-size: cover;
    }

    &__content {
        grid-column: span 4;
        z-index: variables.$z-index-s;
    }

    &__price {
        @include font-placeholders.text-xxl();
        color: inherit;
        margin-bottom: variables.$margin-m;
        margin-top: variables.$margin-l;
    }

    &__title,
    &__description,
    &__until {
        color: inherit;
        margin-top: 0;
        margin-bottom: variables.$margin-m;
    }
    &__title {
        @include font-placeholders.text-m();
        font-weight: variables.$font-weight-medium;
    }

    &__description {
        @include font-placeholders.text-s();
    }

    &__until {
        @include font-placeholders.text-xs();
        color: variables.$color-text-accent-tertiary;
        text-transform: uppercase;
    }
}
