@use "../abstracts/mixins/font-placeholders";
@use "../abstracts/variables";

// -----------------------------------------------------------------------------
// This file contains all styles related to the Filter component of the site/application.
// -----------------------------------------------------------------------------
.filter {
    font-weight: variables.$font-weight-medium;
    color: variables.$color-text-primary;

    &__title {
        @include font-placeholders.text-s();
        margin-bottom: variables.$margin-l;
    }

    &__item {
        font-weight: variables.$font-weight-light;
        margin-bottom: variables.$margin-m;

        // Base for label styling
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            left: -99999px;
            position: absolute;
        }
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
            cursor: pointer;
            padding-left: 2.2rem;
            position: relative;
        }

        // Checkbox aspect
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            background: variables.$color-background-medium;
            border-radius: 2px;
            content: "";
            height: variables.$checkbox-size;
            left: 0;
            position: absolute;
            top: 0;
            width: variables.$checkbox-size;
        }

        [type="checkbox"]:checked + label:before {
            background: variables.$color-background-primary;
        }

        // Checked mark aspect
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            color: variables.$color-text-medium;
            content: "✓";
            left: 0.22rem;
            position: absolute;
            top: 0.15rem;
        }

        // Checked mark aspect changes
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0) translateZ(0);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            padding-left: 0.12rem;
            transform: scale(1) translateZ(0);
        }

        // Accessibility
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before,
        label:hover:before {
            border: 2px solid variables.$color-element-hover;
        }
    }

    &__more {
        @include font-placeholders.text-xs();
        color: variables.$color-text-secondary;
        font-weight: variables.$font-weight-medium;
        margin-bottom: 3rem;
        margin-top: 1.5rem;
    }
}
