@use "../abstracts/mixins/font-placeholders";
@use "../abstracts/variables";

.upload {
    display: block;
    max-width: 18.5rem;

    &__input {
        display: none;
    }

    &__input + &__label {
        background-color: variables.$color-background-light;
        border-radius: variables.$padding-m * 2;
        box-shadow: variables.$box-shadow-s;
        color: variables.$color-text-primary;
        height: 4rem;
        padding-left: variables.$padding-l;
        padding-right: variables.$padding-l;
        text-align: center;
        white-space: nowrap;

        &:hover {
            color: variables.$color-text-tertiary;
            cursor: pointer;
            
            .upload__img {
                fill: #b4c8bd;
            }
        }

        &:active {
            box-shadow: variables.$box-shadow-xs;
            color: variables.$color-text-secondary;
        }
    }

    &__label {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__img {
        display: none;
        fill: variables.$color-svg-primary;
        margin-right: 1rem;

        @media (min-width: 24.375em) {
            display: block;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include font-placeholders.text-s();
        font-weight: variables.$font-weight-medium;
    }

    &__subtitle {
        @include font-placeholders.text-xs();
        font-weight: variables.$font-weight-light;
    }
}
